name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - name: Build and push API Gateway image
      uses: docker/build-push-action@v5
      with:
        context: ./services/api-gateway
        push: true
        tags: nidhi8900/api-gateway:latest

    - name: Build and push Orders Service image
      uses: docker/build-push-action@v5
      with:
        context: ./services/orders-service
        push: true
        tags: nidhi8900/orders-service:latest
