name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push API Gateway image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/api-gateway:latest ./services/api-gateway
        docker push ${{ secrets.DOCKER_USERNAME }}/api-gateway:latest

    - name: Build and push Orders Service image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/orders-service:latest ./services/orders-service
        docker push ${{ secrets.DOCKER_USERNAME }}/orders-service:latest

    - name: Set up kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: v1.30.0

    - name: Update Deployment images
      run: |
        kubectl set image deployment/api-gateway api-gateway=${{ secrets.DOCKER_USERNAME }}/api-gateway:latest -n backend-platform
        kubectl set image deployment/orders-service orders-service=${{ secrets.DOCKER_USERNAME }}/orders-service:latest -n backend-platform
